/* Smaller header photo */
header img {
  max-width: 220px;
  height: auto;
}

/* Prevent name in header from wrapping */
header h1,
header h1 a {
  white-space: nowrap !important;
}

/* Make header a bit wider */
header {
  width: 300px;
}

/* Push text over accordingly */
section {
  margin-left: 340px;
  max-width: 900px;
}

.wrapper {
  max-width: 1250px;
}
